form {
	border: 3px solid #f1f1f1;
	border-radius: 10px 10px ;
	text-align: center;
	margin: auto;
	width: 45%;
}
label{
	margin-top: 6px;
	display: block;
	font-weight: bold;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px 10px ;
  box-sizing: border-box;
}


input[type=radio]{
	width: auto;
	display: inline;
	margin: 14px 0;
	text-align: center;
}
select, option{
	display: block;
	padding: 8px 10px;
	margin: auto;
	width: 100%;
	text-align: center;
	
}


button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.align{
	display: block;
	margin: auto;
	text-align: center;
	width: 50%;
}

button:hover {
  opacity: 0.8;
}
	
#signupErr, #emailErr, #passwordErr, #cPasswordErr{
    color: red;
  
}		

