body{
	background-image: url(../Images/2.jpg);
	background-repeat: no-repeat;
}

.content{
	position: absolute;
	top: 25%;
	left: 60%;
}

#content{
	font-size: 35px;
	color: #353131;
}


#textStyle{
	color: #ED4034;
}
#signUpContent{
	font-size: 20px;
	color: black;
}
#signUp{
	font-size: 20px;
	color: #ED4034;
}
